import multiprocessing
import os

LOG_PATH = "../../../log"
SSL_PATH = "../../../ssl"

# General
bind = "0.0.0.0:8000"
workers = multiprocessing.cpu_count() * 2 + 1

# Logging
accesslog = os.path.join(LOG_PATH, "gunicorn_access.log")
errorlog = os.path.join(LOG_PATH, "gunicorn_error.log")

# SSL
keyfile = os.path.join(SSL_PATH, "ssl.key")
certfile = os.path.join(SSL_PATH, "ssl.cert")

