# This config will be used to *override* values from the production config during unit testing.
# To change the production configuration, edit config.py

# URI to the pathways database
SQLALCHEMY_DATABASE_URI = 'postgresql://username:password@localhost:5432/pathways_test'

# Tell Flask that we are in testing mode
TESTING = True

# Uncomment this if you are running in DEBUG or TESTING mode but would like to receive "clean" responses
# to exceptions rather than stack traces.
# Note that this may cause unit tests that are expecting to catch exceptions to fail
# PROPAGATE_EXCEPTIONS = False