# copy this file to dbConfig.py, add your personal database connection info
# and DO NOT check that new file in. The SQLAlchemy code will look for it and 
# use its values.
conf = {
  'drivername': 'postgres',
  'host':       'localhost',
  'port':       '5432',
  'username':   'user',
  'password':   'pass',
  'database':   'sandbox'
}